@model IEnumerable<UniversityApp.Models.Course>

@{
    ViewData["Title"] = "My Lessons";
}

<h2>My Courses</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Semester)
            </th>
            <th>Number of Registered Students</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Semester)
                </td>
                <td>
                    <a asp-action="RegisteredStudents" asp-route-id="@item.CourseId">Show Students</a>
                </td>
            </tr>
        }
    </tbody>
</table>
