@model UniversityApp.Models.Course

@{
    ViewData["Title"] = "Registered Students";
}

<a asp-action="EditGrades" asp-route-id="@Model.CourseId">EditGrades</a>

<div>
    <h4>Registered Students:</h4>
    <table class="table">
    <thead>
        <tr>
            <th>Registration Number</th>
            <th>Name</th>
            <th>Surname</th>
            <th>Grade</th>
        </tr>
    </thead>
        <tbody>
        @foreach (var item in Model.CourseHasStudents)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Student.RegistrationNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Student.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Student.Surname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Grade)
                </td>
            </tr>
        }
        </tbody>
    </table>
        
</div>

@using (Html.BeginForm("UploadGrades", "Professors", FormMethod.Post, new { @enctype = "multipart/form-data" }))
{
    <span><b>Upload a .csv file</b></span>
    @Html.HiddenFor(model=>model.CourseId)
    <input type="file" name="usercsv" onchange="form.submit()" />
    <br />
    <input type="submit" value="Upload" />
}