@model UniversityApp.Models.Student

@{
    ViewData["Title"] = "My Account";
}

<h1>Welcome @Model.Name</h1>

<br />

<div class="row row-cols-2 row-cols-md-2 g-4">
    <div class="col">
        <div class="card text-white bg-primary mb-3">
            <div class="card-header">You are a Student! &nbsp; <i class="bi bi-mortarboard"></i></div>
            <div class="card-body">
                <h5 class="card-title">Personal Details</h5>
                <table class="table border-white">
                    <tbody>
                        <tr>
                            <th scope="row">@Html.DisplayNameFor(model => model.Fullname)</th>
                            <td>@Html.DisplayFor(model => model.Fullname)</td>
                        </tr>
                        <tr>
                            <th scope="row">@Html.DisplayNameFor(model => model.RegistrationNumber)</th>
                            <td>@Html.DisplayFor(model => model.RegistrationNumber)</td>
                        </tr>
                        <tr>
                            <th scope="row">@Html.DisplayNameFor(model => model.Department)</th>
                            <td>@Html.DisplayFor(model => model.Department)</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="card text-white bg-success mb-3">
            <div class="card-header">Number of Registered Courses &nbsp; <i class="bi bi-book-half"></i></div>
            <div class="card-body">
                <h2>@ViewData["reglessons"] </h2>
                <p class="card-text">Check out all your grades you have received</p>
                <a asp-controller="Students" asp-action="Semesters" class="btn btn-secondary">Go to my Grades &nbsp; <i class="bi bi-arrow-right-circle-fill"></i></a>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="card text-white bg-success mb-3">
            <div class="card-header">Total number of E.T.C.s &nbsp; <i class="bi bi-book-half"></i></div>
            <div class="card-body">
                <h2>@ViewData["ects"]</h2>
                <p class="card-text">Check out all your total grades.</p>
                <a asp-controller="Students" asp-action="Total" class="btn btn-secondary">Go to my Total &nbsp; <i class="bi bi-arrow-right-circle-fill"></i></a>
            </div>
        </div>
    </div>

</div>



