@model IEnumerable<UniversityApp.Models.CourseHasStudent>


@{
    ViewData["Title"] = "Grades";
}

@if (Context.Session.GetString("username") != null)
{

    <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
      Settings
    </button>

    <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasExampleLabel">Display setting</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <div>
          Choose how you want to display your grades
        </div>
        <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked="" onclick="location.href='@Url.Action("Grades", "Students")'">
          <label class="btn btn-outline-primary" for="btnradio1">View Grades by title</label>
                
                
          <label class="btn btn-outline-primary" for="btnradio2">View Grades by Semester</label>
        </div>
        <div>
            <p>
                    <div>Sort by</div>
                    <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
            <input type="radio" class="btn-check" name="mybtnradio" id="btnradio11" autocomplete="off" checked="" onclick="location.href='@Url.Action("Grades", "Students")'">
            <label class="btn btn-outline-primary" for="btnradio11">Asc</label>
            @if (ViewData["sorting"].Equals(true))
                {
                   <input type="radio" class="btn-check" name="mybtnradio" id="btnradio21" autocomplete="off" onclick="location.href='@Url.Action("Grades", "Students",new {asc=false})'">
                }else{
                   <input type="radio" class="btn-check" name="mybtnradio" id="btnradio21" autocomplete="off" checked="" onclick="location.href='@Url.Action("Grades", "Students",new {asc=false})'">
                }
            
            <label class="btn btn-outline-primary" for="btnradio21">Desc</label>
        </div>
            </p>
               
        </div>
      </div>
    </div>

    <div class="container">
        <div class="row">
            <h1 class="display-1 text-center"> Grades </h1>
        </div>
        <hr />
        <br />
        <div class="row">
            <table class="table table-bordered table-responsive table-hover">
                <thead class="table-dark ">
                    <tr>
                        <td> Course Name </td>
                        <td> Grade </td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var grade in Model)
                    {
                        <tr>
                            @if(grade.Grade<=5){
                                <td style="color:red"> @grade.Course.Title </td>
                                <td style="color:red"> @grade.Grade </td>
                            }
                            else
                            {
                                <td style="color:lawngreen"> @grade.Course.Title </td>
                                <td style="color:lawngreen"> @grade.Grade </td>
                            }

                            
                        </tr>
                    }
                    

                </tbody>
            </table>
        </div>
    </div>
}