@model IEnumerable<UniversityApp.Models.CourseHasStudent>

@{
    ViewData["Title"] = "Semesters";
}
@{ViewData["sorting"] = "false";}

<button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
    Settings
</button>

<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasExampleLabel">Display setting</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <div>
            Choose how you want to display your grades
        </div>
        <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
            <input type="radio" class="btn-check" name="btnradio1" id="btnradio1" autocomplete="off"  onclick="location.href='@Url.Action("Grades", "Students")'">
            <label class="btn btn-outline-primary" for="btnradio1">View Grades by title</label>
            <input type="radio" class="btn-check" name="btnradio1" id="btnradio2" autocomplete="off" checked="" onclick="location.href='@Url.Action("Semesters", "Students")'">
            <label class="btn btn-outline-primary" for="btnradio2">View Grades by Semester</label>
        </div>
    </div>
</div>

<div class="mx-auto">
    <div class="btn-group" role="group" aria-label="Basic radio toggle button group">

        @{
            for (int i = 1; i < 9; i++)
            {
                var btnid = "btnradio" + (i+2).ToString();

                if (Int32.Parse(ViewData["CurrentPage"].ToString()) == i)
                {
                    <input type="radio" class="btn-check" name="btnradio" id=@btnid autocomplete="off" checked="" onclick="location.href='@Url.Action("Semesters", "Students", new { page = @i})'">
                }
                else
                {
                    <input type="radio" class="btn-check" name="btnradio" id=@btnid autocomplete="off" onclick="location.href='@Url.Action("Semesters", "Students", new { page = @i})'" asp-route-page=@i>
                }
                <label class="btn btn-outline-primary" for=@btnid>Semester @i</label>
            }
        }
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                Course
            </th>
            <th>
                Grade
            </th>
            <th>
                Semester
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            if (ViewData["CurrentPage"].ToString() == item.Course.Semester.ToString())
            {


                <tr>
                    <td>
                    @Html.DisplayFor(modelItem => item.Course.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Grade)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Course.Semester)
                    
                </td>
            </tr>
            }
        }
    </tbody>
</table>
