@using Microsoft.AspNetCore.Http

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - UniversityApp</title>
    <link rel="stylesheet" href="~/css/CustomBootstrapTheme.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/UniversityApp.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
</head>
<body>
    <header>

        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <div class="container-fluid">
                <a class="navbar-brand" asp-controller="Home" asp-action="Index"><i class="bi bi-house-door-fill"></i> University of Piraeus</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarColor01">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="News"><i class="bi bi-newspaper"></i> News</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="About"><i class="bi bi-info-circle-fill"></i> About</a>
                        </li>
                    </ul>

                    <ul class="navbar-nav ms-auto">

                        @if (Context.Session.GetString("username") == null)
                        {

                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Login">Login</a>
                            </li>
                        }
                        else if (Context.Session.GetString("role").Equals("Students"))
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><i class="bi bi-mortarboard"></i> @Context.Session.GetString("username")</a>
                                <div class="dropdown-menu dropdown-menu-end">
                                    <a class="dropdown-item" asp-area="" asp-controller="Students" asp-action="Account">My Account</a>
                                    <a class="dropdown-item" asp-area="" asp-controller="Students" asp-action="Semesters">My Grades</a>
                                    <a class="dropdown-item" asp-area="" asp-controller="Students" asp-action="Total">Total</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" asp-controller="Home" asp-action="Logout">Logout <i class="bi bi-box-arrow-in-right"></i></a>
                                </div>
                            </li>
                        }
                        else if (Context.Session.GetString("role").Equals("Professors"))
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><i class="bi bi-person-circle"></i> @Context.Session.GetString("username")</a>
                                <div class="dropdown-menu dropdown-menu-end">
                                    <a class="dropdown-item" asp-area="" asp-controller="Professors" asp-action="Account">My Account</a>
                                    <a class="dropdown-item" asp-area="" asp-controller="Professors" asp-action="ProfessorCourses">My Courses</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" asp-controller="Home" asp-action="Logout">Logout <i class="bi bi-box-arrow-in-right"></i></a>
                                </div>
                            </li>
                        }
                        else if (Context.Session.GetString("role").Equals("Secretaries"))
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" id="navbarDropdown" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><i class="bi bi-shield-shaded"></i> @Context.Session.GetString("username")</a>
                                <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" asp-area="" asp-controller="Secretaries" asp-action="Account">My Account</a>
                                    <a class="dropdown-item" asp-area="" asp-controller="Secretaries" asp-action="UniversityStudents">Univeristy Students</a>
                                    <a class="dropdown-item" asp-area="" asp-controller="Secretaries" asp-action="UniversityProfessors">Univeristy Professors</a>
                                    <a class="dropdown-item" asp-area="" asp-controller="Secretaries" asp-action="UniversityCourses">Univeristy Courses</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" asp-controller="Home" asp-action="Logout">Logout <i class="bi bi-box-arrow-in-right"></i></a>
                                </div>
                            </li>
                        }
                    </ul>


                </div>
            </div>
        </nav>

@*        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">UniversityApp</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        @if (Context.Session.GetString("username") == null)
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                            </li>
                        }
                        else
                        {
                            if (Context.Session.GetString("role") == "Students") {
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Students" asp-action="Home">Home</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Students" asp-action="Grades">Grades</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Students" asp-action="Semesters">Semesters</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Students" asp-action="Total">Total</a>
                                </li>
                            }
                        }
                        @if (Context.Session.GetString("username") == null)
                        {

                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Login">Login</a>
                            </li>
                        }
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>

                        @if (Context.Session.GetString("username") != null)
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Logout">Logout</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>*@
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - UniversityApp - <a asp-area="" asp-controller="Home" asp-action="License">License</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
