@model UniversityApp.Models.Professor

@{
    ViewData["Title"] = "Professor Details";
    //var availableCourses = ViewData["availableCourses"] as List<UniversityApp.Models.Course>;
}

<h1>Details</h1>

<div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Personal Details</h5>
                <table class="table">
                    <tbody>
                        <tr>
                            <th scope="row">@Html.DisplayNameFor(model => model.Name)</th>
                            <td>@Html.DisplayFor(model => model.Name)</td>
                        </tr>
                        <tr>
                            <th scope="row">@Html.DisplayNameFor(model => model.Surname)</th>
                            <td>@Html.DisplayFor(model => model.Surname)</td>
                        </tr>
                        <tr>
                            <th scope="row">@Html.DisplayNameFor(model => model.Afm)</th>
                            <td>@Html.DisplayFor(model => model.Afm)</td>
                        </tr>
                        <tr>
                            <th scope="row">@Html.DisplayNameFor(model => model.Department)</th>
                            <td>@Html.DisplayFor(model => model.Department)</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Number of Registered Courses</h5>
                <h2>@ViewData["registeredCourses"]</h2>
            </div>
        </div>
    </div>
</div>

<hr />

<div>
    <a asp-action="UniversityProfessors">Back to List</a>
</div>

<h1>Assigned Courses</h1>

<table class="table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Semester</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Courses)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Semester)
                </td>
            </tr>
        }
    </tbody>
</table>

@*<h1>Avaible Courses</h1>*@

@*<table class="table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Semester</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in availableCourses)
        {
                <tr>
                    <td>
                    @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                    @Html.DisplayFor(modelItem => item.Semester)
                    </td>
                    <td>
                        <a asp-action="RegisteredStudents" asp-route-id="@item.CourseId">Edit</a>
                    </td>
                </tr>
        }
    </tbody>
</table>
*@


<h2>Assign a new Course to this Professor</h2>


<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" id="btnopen">Assign a new Course to this Professor</button>

<!-- Modal -->
<div class="modal fade" id="formModalCenter" tabindex="-1" role="dialog" aria-labelledby="formModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Assign a new Course</h5>
                <button type="button" class="btn-close" aria-label="Close" id="btnclose">
        </button>
      </div>
      <div class="modal-body">
          <div class="row">
        <div class="col-md-4">
            <form asp-action="AssignProfessorCourse" id="fromAssignProf">
                <div class="form-group">
                    <select class="form-control" asp-items="ViewBag.availableCourses" name="courseid"></select>
                </div>
                <input type="number" name="professorid" value="@Model.ProfessorId" hidden="">
            </form>
        </div>
    </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" id="btnclose2">Close</button>
        <button type="button" class="btn btn-primary" id="btnsave">Save</button>
      </div>
    </div>
  </div>
</div>







<script>
    var btnopen = document.getElementById("btnopen");
    var btnclose = document.getElementById("btnclose");
    var btnclose2 = document.getElementById("btnclose2");
    var btnsave = document.getElementById("btnsave");

    btnopen.onclick = function () {
        $('#formModalCenter').modal('show');
    }

    btnclose.onclick = function () {
        $('#formModalCenter').modal('hide');
    }

    btnclose2.onclick = function () {
        $('#formModalCenter').modal('hide');
    }

    btnsave.onclick = function () {
        document.getElementById("fromAssignProf").submit();
    }
</script>