@model UniversityApp.Models.Student

@{
    ViewData["Title"] = "Details";
}

<h1>Student Details</h1>

<div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Personal Details</h5>
                <table class="table">
                    <tbody>
                        <tr>
                            <th scope="row">@Html.DisplayNameFor(model => model.Name)</th>
                            <td>@Html.DisplayFor(model => model.Name)</td>
                        </tr>
                        <tr>
                            <th scope="row">@Html.DisplayNameFor(model => model.Surname)</th>
                            <td>@Html.DisplayFor(model => model.Surname)</td>
                        </tr>
                        <tr>
                            <th scope="row">@Html.DisplayNameFor(model => model.RegistrationNumber)</th>
                            <td>@Html.DisplayFor(model => model.RegistrationNumber)</td>
                        </tr>
                        <tr>
                            <th scope="row">@Html.DisplayNameFor(model => model.Department)</th>
                            <td>@Html.DisplayFor(model => model.Department)</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Total E.T.Cs</h5>
                <h2>@ViewData["etcs"]</h2>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Number of Registered Courses</h5>
                <h2>@ViewData["registered"]</h2>
            </div>
        </div>
    </div>
</div>

<hr />

<h1>Registered Courses</h1>

<table class="table">
    <tr>
        <th>
            Course Title
        </th>
        <th>
            Semester
        </th>
        <th>
            Grade
        </th>
    </tr>

    @foreach (var item in Model.CourseHasStudents)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Course.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Course.Semester)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Grade)
            </td>
        </tr>
    }
</table>

@*<div>
    <a asp-action="Edit" asp-route-id="@Model?.RegistrationNumber">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>*@


<div>
    <a asp-action="StudentAssignCourses" asp-route-id="@Model.StudentId">StudentAssignCourses</a>
</div>
