@using X.PagedList.Mvc.Core
@using X.PagedList.Web.Common
@model X.PagedList.IPagedList<UniversityApp.Models.Student>

@{
    ViewData["Title"] = "University Students";
}

<h1><i class="bi bi-mortarboard"></i> University Students</h1>
<p>Here you can see all the Students tha are registered to the Univerisity's Database. You can use the Register a new student by clicking the button 'Add a new Student'.</p>
<p>Also, you can click a Studen's button to see his page and assign a Course for him/her. </p>

<p>
    <button type="button" class="btn btn-success" onclick="location.href='@Url.Action("CreateStudent", "Secretaries")'"><i class="bi bi-plus-circle-fill"></i> Add a new Student</button>
</p>
<table class="table">
    <thead>
        <tr class="table-secondary">
            <th>
                Name
            </th>
            <th>
                Surname
            </th>
            <th>
                Department
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="table-secondary">
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Surname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Department)
                </td>
                <td>
                    <button type="button" class="btn btn-info" onclick="location.href='@Url.Action("StudentDetails", "Secretaries", new { @id = item.StudentId })'">More Details</button>
                </td>
            </tr>
        }
    </tbody>
</table>

<!-- output a paging control that lets the user navigation to the previous page, next page, etc -->
<nav>
@Html.PagedListPager(Model, page => Url.Action("UniversityStudents", new { page = page }), new PagedListRenderOptions()
{
    ActiveLiElementClass = "active",
    PageClasses = new[]{ "page-link"},
    LiElementClasses=new[] { "page-item" },
    UlElementClasses = new[] { "pagination","justify-content-center", "mt-3" },
    LinkToNextPageFormat = "Next",
    LinkToPreviousPageFormat = "Previous",
    MaximumPageNumbersToDisplay = 5,
    DisplayLinkToPreviousPage = PagedListDisplayMode.Always,
    DisplayLinkToNextPage = PagedListDisplayMode.Always,
    
})
</nav>
