@model IEnumerable<UniversityApp.Models.Course>

@{
    ViewData["Title"] = "University Courses";
}

<h1><i class="bi bi-book"></i> University Courses</h1>
<p>Here you can view all the registered Courses of the University.</p>

<p>
    @*<a asp-action="Create">Create New</a>*@
    <button type="button" class="btn btn-success" onclick="location.href='@Url.Action("CreateCourse", "Secretaries")'"><i class="bi bi-plus-circle-fill"></i> Add a new Course</button>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Semester)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Professor)
            </th>
            <th>
                Action
            </th>
        </tr>
    </thead>
    <tbody>

        @{
            foreach (var item in Model)
            {

                var trclass = (item.Professor != null) ? "table-primary" : "table-warning";

                <tr class="@trclass">
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Semester)
                </td>
                <td>
                        @if (@item.Professor != null)
                        {
                            @Html.DisplayFor(modelItem => item.Professor.ProfessorId)
                        }
                        else
                        {
                           @Html.Raw("No Professor assigned...")
                        }

                </td>

                <td>

                @if(@item.Professor != null){
                    //<a asp-action="Details" asp-route-id="@item.CourseId">View Details</a>
                            <button type="button" class="btn btn-success">View Details  <i class="bi bi-card-text"></i></button>
                }
                else{
                    //<a asp-action="Details" asp-route-id="@item.CourseId">Assign a Professor</a>
                            <button type="button" onclick="location.href='@Url.Action("AssignProfessor", "Secretaries", new { @id = item.CourseId })'" class="btn btn-secondary">Assign a Professor  <i class="bi bi-person-plus-fill"></i></button>
                }

                </td>
            </tr>
            }
        }


    </tbody>
</table>
