@model IEnumerable<UniversityApp.Models.Professor>

@{
    ViewData["Title"] = "University Professors";
}

<h1><i class="bi bi-person-circle"></i> University Professors</h1>
<p>Here you can see all the Professors tha are registered to the Univerisity's Database. You can use the Register a new Professor by clicking the button 'Add a new Professor'.</p>
<p>Also, you can click a Professor's button to see his page and assign a Course for him/her. </p>

<p>
    <button type="button" class="btn btn-success" onclick="location.href='@Url.Action("CreateProfessor", "Secretaries")'"><i class="bi bi-plus-circle-fill"></i> Add a new Professor</button>
</p>
<table class="table">
    <thead>
        <tr class="table-secondary">
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Surname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Department)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="table-secondary">
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Surname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Department)
                </td>
                <td>
                    <button type="button" class="btn btn-info" onclick="location.href='@Url.Action("ProfessorDetails", "Secretaries", new { @id = item.ProfessorId })'">More Details</button>
                </td>
            </tr>
        }
    </tbody>
</table>
